{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class='row'>
	<div class='col-sm-6 col-sm-offset-5'>
		<h1 align="center">免费注册</h1>
		<form method="post" action=".">
		  {% csrf_token %}
		  {{ form | crispy }}

		  <input class='btn btn-block btn-primary' type="submit" value="注册" />
		</form>
	</div>
</div>

<hr/>
<div class='row'>
	<div class='col-sm-6 col-sm-offset-5 text-align-center'>
		<p>需要<a href="{% url 'auth_login' %}">登录</a>?</p>
	</div>
</div>


{% endblock %}
